service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    match /images/{imageId} {
      allow read: if resource.metadata.from == request.auth.uid
                  || resource.metadata.to == request.auth.uid;
      allow write: if request.auth != null
                   && request.resource.metadata.from == request.auth.uid
                   && request.resource.metadata.to != null
                   && request.resource.size < 5 * 1024 * 1024; // 5MB
    }
  }
}
