#cameraContainer video#video {
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  border-radius: 2rem;
}

#cameraContainer.onVideo video#video {
  opacity: 1;
  transition: opacity 1s;
}

#cameraContainer button#snap {
  position: absolute;
  border-radius: 100vh;
  height: 3rem;
  width: 3rem;
  border: .4rem solid rgba(255, 250, 250, .9);
  z-index: 99991;
  background-color: rgba(255, 250, 250, .8);
  box-shadow: 0 0 1rem #151515;
  opacity: 0;
  bottom: 1rem;
  left: 1rem;
}

#cameraContainer.onVideo button#snap {
  transition: opacity 1s 500ms;
  opacity: 1;
}

#cameraContainer.onVideo button#snap:hover {
  cursor: pointer;
}

#cameraContainer.onVideo button#snap:focus {
  outline: none;
}

#cameraContainer > .videoWrapper {
  position: relative;
  overflow: hidden;
}
