.chat > .head .hamburger {
  float: right;
  padding: .8rem 1rem;
  cursor: pointer;
}

.chat > .head .hamburger > * {
  pointer-events: none;
}

.chat > .head .hamburger > .dot1,
.chat > .head .hamburger > .dot2,
.chat > .head .hamburger > .dot3 {
  background-color: #151515;
  display: block;
  width: .3rem;
  height: .3rem;
  margin-top: .2rem;
  box-shadow: 0 0 0.2rem snow;
  border-radius: 50%;
}

