.chat {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(21, 21, 21, .5) transparent;
}

.chat::-webkit-scrollbar-thumb {
  background-color: rgba(21, 21, 21, .5);
  border: .1rem solid transparent;
  border-radius: 3rem;
  background-clip: padding-box;
}

.chat::-webkit-scrollbar {
  width: .5rem;
}

.chat.scrollSmooth {
  scroll-behavior: smooth;
}

.chat > .body {
  flex: 1 1 0;
  padding-top: 4rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.chat > .body .message {
  position: relative;
  display: inline-block;
  color: #151515;
  z-index: 1;
  max-width: 60%;
  margin: .1rem .4rem .1rem 1rem;
  padding: .4rem;
  background: transparent;
  font-size: .9rem;
  border-radius: .7rem;
  overflow: hidden;
}

.chat > .body .message p.onlyEmoji {
  font-size: 4rem;
}

.chat > .body .message-wrapper {
  overflow: auto;
}

.chat > .body .message.from {
  border-bottom-left-radius: 0;
}

.chat > .body .message.to {
  border-bottom-right-radius: 0;
  float: right;
}

.chat > .body .message p {
  word-break: break-word;
}

.chat > .body .message p a {
  color: #0000FF;
  text-decoration: none;
  word-break: break-all;
}

.chat > .body .message p a:active {
  color: #000078;
}

.chat > .body .message > .overlay {
  filter: blur(.1rem);
  background: snow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chat > .body .status {
  font-variant-caps: all-petite-caps;
  text-align: right;
  margin-right: .4rem;
  font-size: .8rem;
  font-weight: bold;
  color: snow;
  text-shadow: 0 0 0.2rem #151515;
}

.chat > .body .timestamp {
  font-variant-caps: all-petite-caps;
  text-align: center;
  margin: 1rem 0;
  font-size: .8rem;
  font-weight: bold;
  color: snow;
  text-shadow: 0 0 0.2rem #151515;
}

.chat > .head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
}

.chat > .head .changeChat .otherUser {
  padding: .8rem 0;
  margin-left: 1rem;
  border: none;
  background: transparent;
  text-shadow: 0 0 0.2rem #151515;
  color: snow;
  font-size: 1.3rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat > .foot {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
  max-height: 50%;
  padding: 1rem;
}

.chat > .foot form {
  display: flex;
}

.chat > .foot form > * {
  height: 2.5rem;
}

.share {
  width: 2.5rem;
  margin-right: .25rem;
}

.share input[type=file] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.share button {
  font-family: monospace;
  font-size: 2rem;
  background: snow;
  border: none;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
}

.share button:focus {
  outline: none;
  box-shadow: 0 0 1rem #151515;
}

.share button:hover {
  cursor: pointer;
}

.chat > .foot [contenteditable] {
  border-radius: 1.3rem;
  overflow-y: scroll;
  background-color: snow;
  word-break: break-word;
  flex: 1;
  font-size: .9rem;
  max-height: 50%;
  height: auto;
  padding: .7rem 2.5rem .7rem .7rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(21, 21, 21, .5) transparent;
}

.chat > .foot [contenteditable]::-webkit-scrollbar-thumb {
  background-color: rgba(21, 21, 21, .2);
  border: .3rem solid transparent;
  border-radius: 3rem;
  background-clip: padding-box;
}

.chat > .foot [contenteditable]::-webkit-scrollbar {
  width: 1rem;
}

.chat > .foot [contenteditable]:focus {
  outline: none;
}

.chat > .foot .submit {
  background-color: #151515;
  border: .05rem solid #151515;
  color: snow;
  font-weight: bold;
  border-radius: 100%;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: -2.45rem;
  margin-top: .05rem;
  font-size: 1rem;
}

.chat > .foot .submit:hover {
  cursor: pointer;
}

.chat > .foot .submit:focus {
  outline: none;
  box-shadow: 0 0 0.5rem #151515;
}
