.chat {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(21, 21, 21, .5) transparent;
}

.chat::-webkit-scrollbar-thumb {
  background-color: rgba(21, 21, 21, .5);
  border: .1rem solid transparent;
  border-radius: 3rem;
  background-clip: padding-box;
}

.chat::-webkit-scrollbar {
  width: .5rem;
}

.chat.scrollSmooth {
  scroll-behavior: smooth;
}

.chat > .body {
  flex: 1 1 0;
  padding-top: 4rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.chat > .body .status {
  font-variant-caps: all-petite-caps;
  text-align: right;
  margin-right: .4rem;
  font-size: .8rem;
  font-weight: bold;
  color: snow;
  text-shadow: 0 0 0.2rem #151515;
}

.chat > .body .timestamp {
  font-variant-caps: all-petite-caps;
  text-align: center;
  margin: 1rem 0;
  font-size: .8rem;
  font-weight: bold;
  color: snow;
  text-shadow: 0 0 0.2rem #151515;
}

.chat > .head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
}

body.electron .chat > .head {
  -webkit-app-region: drag;
}

body.electron .chat > .head button,
body.electron .chat > .head .hamburger {
  -webkit-app-region: no-drag;
}

.chat > .head .changeChat .otherUser {
  padding: .8rem 0;
  margin-left: .55rem;
  border: none;
  background: transparent;
  text-shadow: 0 0 0.2rem snow;
  color: #151515;
  font-size: 1.3rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.scrollDown {
  text-align: center;
  position: absolute;
  color: #151515;
  bottom: 5rem;
  padding: .5rem 0;
  width: 3.5rem;
  left: calc(50% - 1.75rem);
  z-index: 99999;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(.9rem);
  -webkit-backdrop-filter: blur(.9rem);
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 0 0 .1rem snow;
}

button.scrollDown:focus {
  outline: none;
  box-shadow: 0 0 .5rem #151515;
}
