.chat {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat > .body {
  flex: 1 1 0;
  padding-top: 4rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.chat > .body .message {
  position: relative;
  display: inline-block;
  color: #151515;
  z-index: 1;
  max-width: 60%;
  margin: .1rem 1rem;
  padding: .4rem;
  background: transparent;
  font-size: .9rem;
  border-radius: .7rem;
  overflow: hidden;
}

.chat > .body .message p.onlyEmoji {
  font-size: 4rem;
}

.chat > .body .message-wrapper {
  overflow: auto;
}

.chat > .body .message.from {
  border-bottom-left-radius: 0;
}

.chat > .body .message.to {
  border-bottom-right-radius: 0;
  float: right;
}

.chat > .body .message p {
  word-break: break-word;
}

.chat > .body .message p a {
  color: #0000FF;
  text-decoration: none;
  word-break: break-all;
}

.chat > .body .message p a:active {
  color: #000078;
}

.chat > .body .message > .overlay {
  filter: blur(.1rem);
  background: snow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chat > .body .status {
  font-variant-caps: all-petite-caps;
  text-align: right;
  margin: 0 1rem;
  font-size: .8rem;
  font-weight: bold;
  color: snow;
  text-shadow: 0 0 0.2rem #151515;
}

.chat > .body .timestamp {
  font-variant-caps: all-petite-caps;
  text-align: center;
  margin: 1rem 0;
  font-size: .8rem;
  font-weight: bold;
  color: snow;
  text-shadow: 0 0 0.2rem #151515;
}

.chat > .head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
}

.chat > .head .changeChat .otherUser {
  padding: .8rem 0;
  margin-left: 1rem;
  border: none;
  background: transparent;
  text-shadow: 0 0 0.2rem #151515;
  color: snow;
  font-size: 1.3rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat > .foot {
  display: flex;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
}

.chat > .foot form,
.chat > .foot input {
  display: flex;
  flex: 1;
  border-radius: 2rem;
  margin: .4rem;
}

.chat > .foot input {
  padding: .5rem;
  font-size: .9rem;
  border: 0;
  display: block;
}

.chat > .foot input:focus {
  outline: none;
}
