.dropdown {
  position: absolute;
  z-index: 999;
  border-radius: 1rem;
  padding: .1rem 0;
  font-size: 1rem;
  border: .05rem solid rgba(255, 255, 255, .1);
}

.dropdown.attachTopLeft {
  border-top-left-radius: .2rem;
  top: 3.3rem;
  left: .7rem;
}

.dropdown.attachTopRight {
  border-top-right-radius: .2rem;
  top: 3.3rem;
  right: .7rem;
}

.dropdown.attachBottomRight {
  border-top-right-radius: .2rem;
}

.dropdown.attachBottomLeft {
  border-bottom-left-radius: .2rem;
  left: .7rem;
  bottom: 5rem;
}

.dropdown ul {
  list-style: none;
}

.dropdown ul > li {
  text-shadow: 0 0 0.2rem #151515;
  color: snow;
  text-align: center;
  padding: .7rem 1.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown ul > li:not(:last-child) {
  border-bottom: .05rem solid rgba(255, 255, 255, .2);
}

.dropdown.collapsed {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  transition: opacity 300ms;
  pointer-events: none;
  opacity: 0;
}

.dropdown:not(.collapsed) {
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
  opacity: 1;
  transition: opacity 300ms;
}


.dropdown.text-left li {
  text-align: left;
}