.chat > .foot {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
  max-height: 50%;
  padding: 1rem;
}

.chat > .foot form {
  display: flex;
}

.chat > .foot form > * {
  height: 2.5rem;
}

.share {
  width: 2.5rem;
  margin-right: .25rem;
}

.share input[type=file] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.share button {
  font-family: monospace;
  font-size: 2rem;
  background: snow;
  border: none;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
}

.share button:focus {
  outline: none;
  box-shadow: 0 0 1rem #151515;
}

.share button:hover {
  cursor: pointer;
}

.chat > .foot [contenteditable] {
  border-radius: 1.3rem;
  overflow-y: scroll;
  background-color: snow;
  word-break: break-word;
  flex: 1;
  font-size: .9rem;
  max-height: 50%;
  height: auto;
  padding: .7rem 2.5rem .7rem .7rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(21, 21, 21, .5) transparent;
}

.chat > .foot [contenteditable]::-webkit-scrollbar-thumb {
  background-color: rgba(21, 21, 21, .2);
  border: .3rem solid transparent;
  border-radius: 3rem;
  background-clip: padding-box;
}

.chat > .foot [contenteditable]::-webkit-scrollbar {
  width: 1rem;
}

.chat > .foot [contenteditable]:focus {
  outline: none;
}

.chat > .foot .submit {
  background-color: #151515;
  border: .05rem solid #151515;
  color: snow;
  font-weight: bold;
  border-radius: 100%;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: -2.45rem;
  margin-top: .05rem;
  font-size: 1rem;
}

.chat > .foot .submit:hover {
  cursor: pointer;
}

.chat > .foot .submit:focus {
  outline: none;
  box-shadow: 0 0 0.5rem #151515;
}
