.chat > .body .message picture.giphy img {
  border-radius: .7rem;
  cursor: pointer;
  padding: .4rem;
}

.chat > .body .message-wrapper.from .message picture.giphy img {
  border-bottom-left-radius: 0;
}

.chat > .body .message-wrapper.to .message picture.giphy img {
  border-bottom-right-radius: 0;
}
