.chat > .body .message .image.sending {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chat > .body .message .image .status {
  margin-right: 0;
}

.chat > .body .message .image img,
.chat > .body .message iframe.image {
  border-radius: .7rem;
  cursor: pointer;
}

.chat > .body .message iframe.image {
  height: 18rem;
}

.chat > .body .message-wrapper.from .message .image img,
.chat > .body .message-wrapper.from .message iframe.image {
  border-bottom-left-radius: 0;
}

.chat > .body .message-wrapper.to .message .image img,
.chat > .body .message-wrapper.to .message iframe.image {
  border-bottom-right-radius: 0;
}

#overlay img.imageDetail {
  width: 100%;
  box-shadow: 0 0 5rem #151515;
}

#overlay a {
  margin: 0 auto;
}
