.chat > .body .message.to {
  color: snow;
}

.chat > .body .message.from {
  color: #151515;
}

.chat > .body .message {
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 60%;
  margin: .1rem .4rem .1rem 1rem;
  padding: .1rem .4rem;
  background: transparent;
  font-size: .9rem;
  border-radius: .7rem;
  overflow: hidden;
}

.chat > .body .message.image {
  border-radius: 0;
  padding: 0;
  max-width: calc(60% + .8rem);
}

.chat > .body .message p.onlyEmoji {
  font-size: 4rem;
}

.chat > .body .message-container {
  position: relative;
  overflow: visible;
}

.chat > .body .message-wrapper {
  overflow: auto;
}

.chat > .body .message.from {
  border-bottom-left-radius: 0;
}

.chat > .body .message.to {
  border-bottom-right-radius: 0;
  float: right;
}

.chat > .body .message p {
  word-break: break-word;
}

.chat > .body .message p a {
  color: #0000FF;
  text-decoration: none;
  word-break: break-all;
}

.chat > .body .message img {
  max-width: 100%;
}

.chat > .body .message p a:active {
  color: #000078;
}

.chat > .body .message > .overlay {
  filter: blur(.1rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chat > .body .message.to > .overlay {
  background: #151515;
}

.chat > .body .message.from > .overlay {
  background: snow;
}
