.giphy {
  backdrop-filter: blur(.9rem);
  -webkit-backdrop-filter: blur(.9rem);
  text-shadow: 0 0 0.2rem #151515;
  background-color: transparent;
  padding: .6rem .1rem .4rem .1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  text-align: center;
  height: 20rem;
  width: 15rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

input.form-control.giphy-term {
  font-size: .8rem;
  width: calc(100% - 1.8rem);
  margin: 0 0 .5rem;
  border-radius: .3rem;
}

@media screen and ( min-height: 660px ) {
  .giphy {
    height: auto;
  }
}

.giphy input[type=image] {
  margin: 0 .1rem;
  padding: 0;
  border-radius: .3rem;
  height: 6rem;
  width: 7rem;
}
