.controls {
  width: 100%;
  padding: 0;
  z-index: 9999999;
  margin: 0;
  bottom: 4rem;
  position: absolute;
  opacity: 0.7;
}

button.circle {
  position: relative;
  border-radius: 100vh;
  padding: 0;
  margin: .5rem;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  overflow: visible;
}

button > .cross-disabled {
  position: absolute;
  background-color: red;
  box-shadow: 0 0 0.2rem #151515;
  height: 5.5rem;
  width: .3rem;
  left: 50%;
  top: -.5rem;
  transform: rotate(50deg);
  padding: 0;
  margin: 0;
}

button.hang-up {
  transform: rotate(135deg);
}
