.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
}

.chat > .body {
  flex: 1 1 0;
}

.chat > .body .message {
  position: relative;
  display: inline-block;
  color: #151515;
  z-index: 1;
  max-width: 60%;
  margin: .1rem 1rem;
  padding: .4rem;
  background: transparent;
  font-size: .9rem;
  border-radius: .7rem;
  overflow: hidden;
}

.chat > .body .message-wrapper {
  overflow: auto;
}

.chat > .body .message.from {
  border-bottom-left-radius: 0;
}

.chat > .body .message.to {
  border-bottom-right-radius: 0;
  float: right;
}

.chat > .body .message > .overlay {
  filter: blur(.1rem);
  background: snow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chat > .head {
  height: 5rem;
}

.chat > .foot {
  height: 2.3rem;
  display: flex;
  padding: .6rem;
  backdrop-filter: blur(1rem);
}

.chat > .foot form,
.chat > .foot input {
  display: flex;
  flex: 1;
  border-radius: 2rem;
}

.chat > .foot input {
  padding: .2rem .5rem;
  font-size: .9rem;
  border: 0;
  display: block;
}