.chat {
  height: 100%;
  overflow-y: scroll;
}

.chat > .body {
  flex: 1 1 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: scroll; /* todo mobile scrollbar */
}

.chat > .body .message {
  position: relative;
  display: inline-block;
  color: #151515;
  z-index: 1;
  max-width: 60%;
  margin: .1rem 1rem;
  padding: .4rem;
  background: transparent;
  font-size: .9rem;
  border-radius: .7rem;
  overflow: hidden;
}

.chat > .body .message-wrapper {
  overflow: auto;
}

.chat > .body .message.from {
  border-bottom-left-radius: 0;
}

.chat > .body .message.to {
  border-bottom-right-radius: 0;
  float: right;
}

.chat > .body .message > .overlay {
  filter: blur(.1rem);
  background: snow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chat > .head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.chat > .head .changeChat select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .8rem 0;
  margin-left: 1rem;
  border: none;
  background: transparent;
  text-shadow: 0 0 0.2rem #151515;
  color: snow;
  font-size: 1.3rem;
  font-weight: bold;
}

.chat > .head .menu {
  float: right;
  display: none;
}

.chat > .head .hamburger {
  float: right;
  padding: .8rem 0;
  margin-right: 1rem;
  cursor: pointer;
}

.chat > .head .hamburger > .dot1,
.chat > .head .hamburger > .dot2,
.chat > .head .hamburger > .dot3 {
  background-color: snow;
  display: block;
  width: .3rem;
  height: .3rem;
  margin-top: .2rem;
  box-shadow: 0 0 0.2rem #151515;
  border-radius: 50%;
}


.chat > .foot {
  display: flex;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.chat > .foot form,
.chat > .foot input {
  display: flex;
  flex: 1;
  border-radius: 2rem;
  margin: .4rem;
}

.chat > .foot input {
  padding: .5rem;
  font-size: .9rem;
  border: 0;
  display: block;
}