* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-image: url('/bg_jupiter.jpg');
  background-size: cover;
}

body.electron .translucent::before {
  content: "";
  height: 3rem;
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
}

h1, h2 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 1.8rem;
}

input.form-control,
button.form-control {
  padding: .5rem;
  font-size: 1rem;
  margin: .5rem;
  border-radius: 1rem;
  border: none;
  color: #151515;
  background-color: snow;
}

button.form-control {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

input.form-control:focus,
button.form-control:focus {
  outline: none;
  box-shadow: 0 0 0.2rem #151515;
}

p,
.textMessage {
  margin: .3rem 0;
}

.margin-top {
  margin-top: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  max-width: 20rem;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.invisible {
  opacity: 0;
}

.display-none {
  display: none;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

button:hover {
  cursor: pointer;
}

.alertContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 99999;
  position: absolute;
  margin-top: 4rem;
}

.alert {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #151515;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: .3rem .3rem 2rem #151515;
  color: #fffafa;
}

.alert button:focus {
  outline: none;
  box-shadow: 0 0 0.6rem #fffafa;
}

.alert .text {
  margin-bottom: 1rem;
}
